<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<h1>TeaSis!</h1>
	<h2>( O w O ) Where's the Tea, Sis? ( O w O )</h2>
	<h2> </h2>
	<h2>Join the TeaSisterhood~</h2>
	<p th:text="${errorMessage}" style="color:red"></p>
	<form method="post" th:action="@{/register}" th:object="${customer}">
		<input type="text" th:field="*{username}" placeholder="Username" required>
		<input type="password" th:field="*{password}" placeholder="Password" required>
		<input type="submit" value="Register">
	</form>
	<h3> </h3>
	<a th:href="@{/}">Back to Main Page</a>
</body>
</html>